<div class="container">
  <h1>O projekcie</h1>
  <p class="text-justify">
    Szopp to prosty sklep internetowy, który powstał jako praca inżynierska na ostatnim roku studiów,
    na kierunku Informatyka (specjalizacja: Inżynieria Oprogramowania) w Wyższej Szkole Informatyki Stosowanej
    i Zarządzania w Warszawie. Wykonanie projektu w całości: <strong>Łukasz Bany</strong>. Cześć front-endowa
    została wykonana w Angularze, którego uczyłem się w trakcie. Sklep jest responsywny, więc dostosowuje się
    do wielkości ekranu (można go przeglądać na urządzeniach mobilnych), natomiast wygląd nie jest wtedy dopracowany
    do ostatniego szczegółu, gdyż nie planowałem tego od początku, a raczej dodałem na koniec jako dodatek.
  </p>
  <h3>Co umożliwia sklep</h3>
  <p>Projekt składa się z:</p>
  <ol>
    <li>
      panelu administratora (<strong>użytkownik</strong>: admin, <strong>hasło</strong>: <i>udostępnię po obronie pracy</i>), który umożliwia:
      <ul>
        <li>usuwać użytkowników</li>
        <li>nadawanie ról użytkownikom</li>
      </ul>
    </li>
    <li>
      panelu pracownika sklepu (<strong>użytkownik</strong>: staff, <strong>hasło</strong>: <i>udostępnię po obronie pracy</i>), który umożliwia:
      <ul>
        <li>dodawanie, usuwanie i edycję kategorii</li>
        <li>dodawanie, usuwanie i edycję produktów wraz z przypisaniem ich do kategorii</li>
        <li>przeglądanie zamówień oraz zmianę ich statusu</li>
      </ul>
    </li>
    <li>
      sklepu, w którym użytkownik może:
      <ul>
        <li>przeglądać produkty wg kategorii</li>
        <li>dodawać i usuwać produkty z koszyka</li>
        <li>przeglądać koszyk i sfinalizować zamówienie</li>
        <li>zmienić swoje dane (zalogowany użytkownik)</li>
        <li>przeglądać swoje zamówienia (zalogowany użytkownik)</li>
        <li>zalogować się i zarejestrować</li>
      </ul>
    </li>
  </ol>

  <h3>Technologie i biblioteki użyte w projekcie</h3>
  <p>Back-end:</p>
  <ul>
    <li>Java</li>
    <li>Spring Boot</li>
    <li>Hibernate</li>
    <li>PostgreSQL</li>
    <li>Liquibase</li>
    <li>Lombok</li>
  </ul>
  <p>Front-end:</p>
  <ul>
    <li>Angular 9</li>
    <li>Angular Material Design</li>
    <li>Bootstrap</li>
  </ul>
  <p>Sklep postawiono na serwerze z użyciem <strong>Dockera</strong>.</p>
</div>
