<h3 class="mb-5">Dziękujemy! Zamówienie zostało przekazane do realizacji.</h3>
<div *ngIf="!isCartLoaded">
  <app-spinner></app-spinner>
</div>
<div *ngIf="isCartLoaded && cart.orderItems.length > 0">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="align-middle">Produkt</th>
      <th scope="col" class="align-middle d-none d-sm-tab">Ilość</th>
      <th scope="col" class="align-middle d-none d-sm-tab">Cena</th>
      <th scope="col" class="align-middle d-sm-none">Ilość/Cena</th>
      <th scope="col" class="align-middle">Razem</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let orderItem of cart.orderItems">
      <td class="align-middle">{{orderItem.product.name}}</td>
      <td class="align-middle d-none d-sm-tab">
        <span class="product-quantity">{{orderItem.quantity}}</span>
      </td>
      <td class="align-middle d-none d-sm-tab">{{orderItem.price | pln}}</td>
      <td class="align-middle d-sm-none">
        <div>{{orderItem.quantity}} x</div>
        <div>{{orderItem.price | pln}}</div>
      </td>
      <td class="align-middle">{{orderItem.totalPrice | pln}}</td>
    </tr>
    <tr class="table-active">
      <td></td>
      <td class="d-none d-sm-tab"></td>
      <td>Razem:</td>
      <td>{{cart.totalPrice | pln}}</td>
    </tr>
    </tbody>
  </table>
  <p>Sposób płatności: płatność przy odbiorze</p>
  <p>Sposób wysyłki: przesyłka kurierska</p>
</div>
