div.product-image {
  height: 100px;
  width: 100px;
}

img.product-image {
  max-height: 100px;
  max-width: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

th.product-picture {
  width: 110px;
}

span.product-quantity {
  padding: 0 10px;
}

button.cart-operation {
  width: 38px;
}

.item-list {
  width: 100%;
}


.sad-cat {
  max-width:100%;
  max-height:100%;
}
