td button {
  margin-right: 10px;
  margin-bottom: 10px;
}

div.add-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 1;
}

@media (max-width: 500px) {
  div.add-button {
    bottom: 20px;
    right: 20px;
  }
}

button.add-button {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button:focus {
  outline: 0;
}

ol.breadcrumb {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 46px;
  line-height: 36px;
}

ol button {
  height: 36px;
}

div.bottom-space {
  height: 80px;
}
