<form #registerForm="ngForm" (ngSubmit)="register()">
  <h3 class="mt-3">Rejestracja w sklepie</h3>
  <p>Witamy w naszym sklepie. Załóż konto, aby łatwiej robić zakupy.</p>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput id="username" ngModel name="username">
      <mat-error *ngIf="isIncorrect('username')">
        {{getErrorMessage('username')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Hasło</mat-label>
      <input type="password" matInput id="password" ngModel name="password">
      <mat-error *ngIf="isIncorrect('password')">
        {{getErrorMessage('password')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Powtórz hasło</mat-label>
      <input type="password" matInput id="confirmPassword" ngModel name="confirmPassword">
      <mat-error *ngIf="isIncorrect('confirmPassword')">
        {{getErrorMessage('confirmPassword')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button
      mat-flat-button
      color="primary"
      [class.spinner]="loading"
      [disabled]="loading"
      type="submit">Zarejestruj</button>
  </div>
</form>
