<h3>Adres do wysyłki:</h3>
<span [class.selected]="!differentShipmentAddress">Taki sam </span>
<mat-slide-toggle [(ngModel)]="differentShipmentAddress" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
<span [class.selected]="differentShipmentAddress"> Inny</span>

<form #shipmentAddressForm="ngForm" (ngSubmit)="submit()" *ngIf="differentShipmentAddress">
  <table>
    <tr>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput id="username" ngModel name="username" disabled>
        </mat-form-field>
      </div>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Imię</mat-label>
          <input matInput id="firstName" ngModel name="firstName">
          <mat-error *ngIf="isIncorrect('firstName')">
            {{getErrorMessage('firstName')}}
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Nazwisko</mat-label>
          <input matInput id="lastName" ngModel name="lastName">
          <mat-error *ngIf="isIncorrect('lastName')">
            {{getErrorMessage('lastName')}}
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input type="email" matInput id="email" ngModel name="email">
          <mat-error *ngIf="isIncorrect('email')">
            {{getErrorMessage('email')}}
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Telefon</mat-label>
          <input matInput id="phone" ngModel name="phone">
          <mat-error *ngIf="isIncorrect('phone')">
            {{getErrorMessage('phone')}}
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Kod pocztowy</mat-label>
          <input matInput id="zipCode" ngModel name="zipCode">
          <mat-error *ngIf="isIncorrect('zipCode')">
            {{getErrorMessage('zipCode')}}
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Miasto</mat-label>
          <input matInput id="city" ngModel name="city">
          <mat-error *ngIf="isIncorrect('city')">
            {{getErrorMessage('city')}}
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Ulica</mat-label>
          <input matInput id="street" ngModel name="street">
          <mat-error *ngIf="isIncorrect('street')">
            {{getErrorMessage('street')}}
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <span [class.selected]="!isCompany">Osoba </span>
        <mat-slide-toggle [(ngModel)]="isCompany" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
        <span [class.selected]="isCompany"> Firma</span>
      </td>
    </tr>
    <tr *ngIf="isCompany">
      <td class="company-wrapper">
        <mat-form-field>
          <mat-label>Nazwa firmy</mat-label>
          <input matInput id="companyName" ngModel name="companyName">
          <mat-error *ngIf="isIncorrect('companyName')">
            {{getErrorMessage('companyName')}}
          </mat-error>
        </mat-form-field>
      </td>
      <td class="company-wrapper">
        <mat-form-field>
          <mat-label>NIP</mat-label>
          <input matInput id="nip" ngModel name="nip">
          <mat-error *ngIf="isIncorrect('nip')">
            {{getErrorMessage('nip')}}
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr *ngIf="!isCompany">
      <td class="company-wrapper"></td>
    </tr>
  </table>

  <div *ngIf="formMessage" class="alert alert-danger" role="alert">
    {{formMessage}}
  </div>
  <div>
    <button mat-flat-button color="primary" type="submit">Zapisz dane</button>
  </div>
</form>
