<div class="container mt-5">
  <h1 class="mb-5">404 Nie znaleziono</h1>
  <pre>
  ██╗  ██╗ ██████╗ ██╗  ██╗    ██████╗ ██████╗  █████╗ ██╗  ██╗    ███████╗████████╗██████╗  ██████╗ ███╗   ██╗██╗   ██╗
  ██║  ██║██╔═████╗██║  ██║    ██╔══██╗██╔══██╗██╔══██╗██║ ██╔╝    ██╔════╝╚══██╔══╝██╔══██╗██╔═══██╗████╗  ██║╚██╗ ██╔╝
  ███████║██║██╔██║███████║    ██████╔╝██████╔╝███████║█████╔╝     ███████╗   ██║   ██████╔╝██║   ██║██╔██╗ ██║ ╚████╔╝
  ╚════██║████╔╝██║╚════██║    ██╔══██╗██╔══██╗██╔══██║██╔═██╗     ╚════██║   ██║   ██╔══██╗██║   ██║██║╚██╗██║  ╚██╔╝
       ██║╚██████╔╝     ██║    ██████╔╝██║  ██║██║  ██║██║  ██╗    ███████║   ██║   ██║  ██║╚██████╔╝██║ ╚████║   ██║
       ╚═╝ ╚═════╝      ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝    ╚══════╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝
</pre>
</div>
