span.selected {
  color: #ff4081;
  font-weight: bold;
}

textarea.mat-input-element {
  height: 300px;
  resize: none;
}

@media (max-width: 500px) {
  td.small-field {
    width: 50px;
  }

}

@media (min-width: 501px) {
  td.small-field {
    width: 25%;
  }

}

/*table {*/
/*  width: 100%;*/
/*}*/

mat-form-field.area {
  width: 100%;
}

@media (max-width: 500px) {
  mat-form-field.small-field {
    width: 100px;
  }

  mat-form-field.field {
    width: 120px;
  }
}

/*input {*/
/*  width: 50%;*/
/*}*/

div.button-wrapper {
  float: right;
}

div.button-wrapper button {
  margin-left: 10px;
  margin-top: 45px;
}

button:focus {
  outline: 0;
}

::ng-deep mat-dialog-container.mat-dialog-container {
  overflow-x: hidden !important;
}

@media (max-width: 500px) {
  ::ng-deep mat-dialog-container.mat-dialog-container {
    padding: 8px !important;
  }
}

